<div class= "jumbotron">
	<h1>About Us</h1>
	<p>Hey, welcome to my Pinteresting app. I'm creating this app as a part of my "Senior Project" for my school DCDS. This application is being used as a way for me to learn Rails and from there learn a lot of different programming languages. 
	</p>
	
	<p> Thanks for reading, I hope you like the site! </p>
</div>